@import 'base/variables';
@import 'vendor/fonts';
@import 'base/mixins';
@import 'base/extends';
@import 'components/buttons';

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: $baseFontFamily;
    font-size:14px;
    color: #333333;
}

.input-field{
    padding: 10px 15px;
    margin-top:10px;
    width:300px;
    @include placeholder{
        color:#1478FF;
        font-size: 14px;
    };
}

.wrapper{
    .hr-divider{
        margin:30px 0;
    }
    .side-nav{
        position: fixed;
        left: 0;
        top:0;
        width: 220px;
        height: 100%;
        padding: 30px;
        background-color:#1478FF;
        ul{
            margin:20px 0 0;
            padding: 0;
            list-style: none;
            li{
                display: block;
                a{  
                    text-decoration: none;
                    font-size: 16px;
                    color:#ffffff;
                    display: block;
                    padding: 15px 0px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .content{
        margin-left: 220px;
        padding: 30px;
        height: 100%;   
    }

    .topic{
        .topic-title{
            font-size: 24px;
            margin-bottom: 15px;
            @include for-phone-only {    
                font-size: 20px;
            }
        }
    }

    .code-snippet{
        background-color: #f5f5f5;
        border:1px solid #ececec;
        border-radius: 4px;
        padding:10px 15px;
        font-size: 14px;
        margin-top:20px;
        margin-bottom:20px;
        color:#666;
    }
}


.fontFamilySection-p1{
    font-family: $baseFontFamily;
    font-weight: map-get($font-weight, extra-bold);
}

html,body{
    font-family: sans-serif;
}

h1{
    font-weight: map-get($font-weight, bold);
}

.fontFamilySection-p2{
    font-family: $baseFontFamily;
    font-weight: map-get($font-weight, light);
}

.glyph.fs1 {
    font-size: 20px;
    width: 45%;
    display: inline-block;
    padding: 10px 0;

}

.custom-box{
    width: 150px;
    height: 150px;
    background-color: lightblue;
    &.custom-box-1{
        @include border(2px,solid,black);
    }
    &.custom-box-2{
        @include border(2px,solid,black,top);
    }
    &.custom-box-3{
        @include border(2px,solid,black,left);
    }
    &.custom-box-4{
        @include border(2px,solid,black,right);
    }
    &.custom-box-5{
        @include border(2px,solid,black,bottom);
    }
}