//MARGINS
@mixin el-margin($value, $dir:All)
{
  @if($dir == All){
    margin: $value;
  } 
  @else if($dir == top){
    margin-top: $value;
  } 
  @else if($dir == right){
    margin-right: $value;
  } 
  @else if($dir == bottom){
    margin-bottom: $value;
  } 
  @else if($dir == left){
    margin-left: $value;
  }
}

//PADDING
@mixin el-padding($value, $dir:All)
{
  @if($dir == All){
    padding: $value;
  } 
  @else if($dir == top){
    padding-top: $value;
  } 
  @else if($dir == right){
    padding-right: $value;
  } 
  @else if($dir == bottom){
    padding-bottom: $value;
  } 
  @else if($dir == left){
    padding-left: $value;
  }
}

//BORDER
@mixin border($width,$type,$color,$dir:All){
  @if($dir == top){
    border-top:$width $type $color;
  }
  @else if($dir == right){
    border-right:$width $type $color;
  }
  @else if($dir == bottom){
    border-bottom:$width $type $color;
  }
  @else if($dir == left){
    border-left:$width $type $color;
  }
  @else { //By Default
    border:$width $type $color;
  }
}

// PLACEHOLDER STYLING
@mixin placeholder {
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

// FONT-FAMILY
@mixin font-face($font-name, $file-name, $weight, $style:normal) {
    @font-face {
        font-family: quote($font-name);
        src: url($file-name+".eot");
        src: url($file-name+".eot?#iefix") format("embedded-opentype"),
            url($file-name+".woff2") format("woff2"),    
            url($file-name+".woff") format("woff"),
            url($file-name+".ttf") format("truetype"),
            url($file-name+".svg##{$font-name}") format("svg");
        font-weight: $weight;
        font-style: $style;
    }
}
