//FONT SIZES RANGE
$fontSizeRange:( 
    min:8, 
    max:50 
);

//COLORS
$color :(
    primary:#f24343,
    secondary: #f9b520,
    );

//FONT-WEIGHTS
$font-weight :(
	light: 300,
	regular: 400,
	semi-bold: 600,
    bold: 700,
    extra-bold: 800
);